/*quri Theme the Tabulator element*/

.tabulator {
  background-color:#ccc;
  border: 1px solid #333;
  border-radius: 3px;
}

/*Theme the header*/
.tabulator .tabulator-header {
  background-color:#333;
  color:#fff;
}

/*Allow column header names to wrap lines*/
.tabulator-header .tabulator-col,
.tabulator-header .tabulator-col-row-handle {
  white-space: normal;
}

/*Color the table rows*/
.tabulator-tableHolder .tabulator-table .tabulator-row{
  color:#fff;
  background-color: #666;
}

/*Color even rows*/
.tabulator-tableHolder .tabulator-table .tabulator-row:nth-child(even) {
  background-color: #444;
}