<!DOCTYPE html><html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default_layout}">
<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
</th:block>
<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
    <!--    <script th:src="@{/js/page/home.js}"></script>-->

<script type="text/javascript">
  
var listTable_db = null;

function f_last(){

    listTable_db = $('.acct_table').tblInit('f:acct_id|w:150|e:input|t:acct_id'
                                         + ',f:user_id|w:200|t:user_id'
                                         + ',f:user_nm|w:200|e:input|a:l|t:user_nm'
                                         , 'h:600|edt:actionEdited'
                                         + '|proc:dt.account.list|proc_save:dt.account.save|sform:srch_form|btns:savedc|key=acct_id'
                                         );

                                         
    listTable_db.dataLoad();



};

function f_per_search(){
    return true;
}

function f_search(){
    //listTable_db.dataLoad();
    console.log('debugger');
    // debugger;
    f_01();
}

function f_01(){
    // debugger;
    f_02();

}

function f_02(){
    listTable_db.dataLoad();
    // debugger;
}

</script>



</th:block>
<!-- Content -->
<div layout:fragment="content">

     <!-- account list -->
     <div class="row">
        <div class="col-xl-12  ">
            
            <div class="card">
                <div class="acct_table"></div>
            </div>

        </div>
    </div>


</div>
</html>