<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
<!--footerFragment 선언-->
<div th:fragment="pageNaviFragment">

    <div class="page-header">
        <h3 class="page-title"  th:text="${data}" >Form elements [[${data}]]</h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Forms [[${data}]]</a></li>
            <li class="breadcrumb-item active" aria-current="page"> Form elements </li>
            </ol>
        </nav>
    </div>

</div>
</html>